@import "tailwindcss";

:root {
  --background: #1f2544;
  --foreground: #ffd0ec;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-deep-navy: #1f2544;
  --color-muted-blue: #474f7a;
  --color-soft-purple: #81689d;
  --color-light-pink: #ffd0ec;
  --color-ring: #81689d;
  --color-primary: #81689d;

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
}

@keyframes accordion-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}
